

.brandImgSize {
    width: 50px;
}

.navbar {
    background-color: rgb(56, 83, 122);
    border-radius: 0px 0px 2px 2px;
}

 .jumbotron {
    border-top: 6px solid rgba(225, 228, 233, 0.966);
    border-radius: 8px;
    background-color: rgb(56, 83, 122);
} 

.rowMargin {
    margin-bottom: 10px;
}

.card-body, .card-header {
    background-color: rgb(56, 83, 122);
    color: whitesmoke;
}

.card-header {
    text-transform: uppercase;
    text-shadow: 3px 5px black;
}

.imgSize {
    height: 159px;
}